.homeSidebar{
    display:flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    align-items: stretch;
    width: 100%;
    padding-top: 0;
}

.homeSidebar > :first-child {
    margin-top: 40px;
}

.homeSidebar > * {
    width: 100%;
}