.motivationPanel {
    background-color:transparent;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-base);
    box-shadow: var(--shadow-base);
    color: var(--color-text-default);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-align: start;
}
.motivationInfo{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}
.motivationIcon {
    font-size: var(--font-size-xl);
}
.motivationLabel {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-tertiary);
}